<div id="sidebar" class="sidebar">
    <header>
        <img
            src="{{ "/assets/img/bap.jpg" | prepend: site.baseurl }}"
            class="rounded">
        <h1 class="slabo27">Benjamin A. Petersen</h1>
        <p class="slabo27">Software Engineer @ RedHat</p>

        <a href="https://github.com/{{ site.github }}"
           target="_blank">
            <span class="icon icon-github"></span>
        </a>
        <a href="https://www.linkedin.com/in/{{ site.linkedin }}"
           target="_blank">
            <span class="icon icon-linkedin"></span>
        </a>
        <a href="https://twitter.com/{{ site.twitter }}"
           target="_blank">
            <span class="icon icon-twitter3"></span>
        </a>
    </header>
</div>
