<!DOCTYPE html>
<html>
  {% include header.html %}
  <body>
    <div class="wrapper">

      {% include sidebar.html %}

      <div class="main">
        <ul class="posts">
          {% for post in site.posts %}
            <li class="post">
              <p class="link">
                <a class="post-link post-{{ post.index }}"
                  href="{{ post.url | prepend: site.baseurl }}">
                  {{ post.title }}
                </a>
              </p>
              <p class="date">
                {{ post.date | date: "%b %-d, %Y" }}
              </p>
            </li>
          {% endfor %}
        </ul>
      </div>
      {% include footer.html %}

    </div>

  </body>

</html>
