<!DOCTYPE html>
<html>
  {% include header.html %}
  <body>
    <div class="wrapper">
      <header>
          <h1 class="title">Benjamin A. Petersen</h1>
          <p>UX Developer</p>
      </header>

      <div class="content">
        <h2>Thoughts...</h2>
        <ol class="posts">
          {% for post in site.posts %}
            <li>
              <a class="post-link post-{{ post.index }}"
                href="{{ post.url | prepend: site.baseurl }}">
                {{ post.title }} - {{ post.date | date: "%b %-d, %Y" }}
              </a>
            </li>
          {% endfor %}
        </ol>
      </div>
      {% include footer.html %}

    </div>

  </body>

</html>
