<!DOCTYPE html>
<html>

  {% include header.html %}
  <body>
    <div class="wrapper">

        {% include sidebar.html %}

        <div class="main">
            <div class="content">
                <p class="date">
                    {{ page.date | date: "%b %-d, %Y" }}
                </p>
                <article>
                {{ content }}
                </article>
                <div class="comments">
                  <div id="disqus_thread"></div>
                    <script>

                    /**
                     *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
                     *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables */
                    /*
                    var disqus_config = function () {
                        this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
                        this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                    };
                    */
                    (function() { // DON'T EDIT BELOW THIS LINE
                        var d = document, s = d.createElement('script');
                        s.src = '//benjaminapetersen-me.disqus.com/embed.js';
                        s.setAttribute('data-timestamp', +new Date());
                        (d.head || d.body).appendChild(s);
                    })();
                    </script>
                    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                </div>
            </div>

            <div>
                <p class="back">
                    <a href="{{ site.baseurl }}/">back</a>
                </p>
            </div>
        </div>
        {% include footer.html %}

    </div>
    </body>
</html>
